# {{ ansible_managed }}

[Unit]
Description=Prometheus Fail2ban Exporter
Documentation=https://github.com/mivek/fail2ban_exporter
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/fail2ban_exporter

[Install]
WantedBy=multi-user.target
